.heading__text {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #7ec8e3;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .heading__text {
    text-align: center;
  }
}
