.socialIcon {
  margin: 0 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialIcon .MuiSvgIcon-root {
  font-size: 3rem;
  color: #8c96a9;
  transition: all 0.2s linear;
}

.socialIcon a:hover .MuiSvgIcon-root {
  color: #00f;
}
