.app {
  height: 100vh;
  /* width: 100%; */
  /* max-width: 1140px; */
  /* margin: auto; */
  /* display: grid; */
  /* grid-template-columns: repeat(10, 1fr); */
  /* grid-column-gap: 10px; */
}

.app__sidebar {
  /* grid-column: 1 / 4; */
  background-color: #f2f9fc;
}

.app__content {
  padding-left: 9rem;
  /* grid-column: 4 / 11; */
}

@media (max-width: 992px) {
  .app__content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 0rem;
    /* grid-column: 4 / 11; */
  }
}
